<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <!-- <h3 class="section-subheading text-muted">Relevance experience and education</h3> -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2012</h4>
                                    <h4 class="subheading">Inception</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Aspiris Pharmaceuticals was founded in 2012 to cater to the needs of the pharmaceutical industry.
                                        The company was founded by a group of professionals with extensive experience in the pharmaceutical industry.
                                        The founders have a strong background in the pharmaceutical industry, with experience in drug development, regulatory affairs, and quality assurance.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2024</h4>
                                    <h4 class="subheading">Opened Corporate Headquater</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Aspiris Pharmaceuticals is headquartered in Delhi, India. The company has a state-of-the-art facility that is equipped with the latest technology and equipment.
                                        The facility is designed to meet the highest standards of quality and safety.
                                        The company has a team of highly qualified and experienced professionals who are dedicated to providing the best possible service to its clients.
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>